@font-face {
  font-family: 'stylify-profiler';
  src: url('fonts/stylify-profiler.woff?yzzyxu') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stylify-profiler' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sp-icon-link:before {
  content: "\e907";
}
.sp-icon-layout:before {
  content: "\e900";
}
.sp-icon-tool:before {
  content: "\e901";
}
.sp-icon-dollar-sign:before {
  content: "\e902";
}
.sp-icon-aperture:before {
  content: "\e903";
}
.sp-icon-clock:before {
  content: "\e904";
}
.sp-icon-archive:before {
  content: "\e905";
}
.sp-icon-refresh-cw:before {
  content: "\e906";
}
