.button,
.title,
.font-size\:24px{
	font-size: 24px
}
.button,
.title,
.padding\:24px{
	padding: 24px
}
.button,
.wrapper,
.background\:blue{
	background: blue
}
.button,
.margin\:11px{
	margin: 11px
}
.title,
.color\:red{
	color: red
}
.header.button.title,
.header.button.wrapper,
.display\:flex{
	display: flex
}
.header.button.title,
.header.button.wrapper,
.justify-content\:space-between{
	justify-content: space-between
}
.wrapper,
.outline\:none{
	outline: none
}
