.margin\:11px,
.button{
	margin:11px
}
.background\:blue,
.button,
.header.button.wrapper{
	background:blue
}
.font-size\:24px,
.button,
.title{
	font-size:24px
}
.padding\:24px,
.button,
.title{
	padding:24px
}
.color\:red,
.title{
	color:red
}
.display\:flex,
.title,
.header.button.wrapper{
	display:flex
}
.justify-content\:space-between,
.title,
.header.button.wrapper{
	justify-content:space-between
}
.outline\:none,
.header.button.wrapper{
	outline:none
}