.display\:grid{
	display: grid
}
.transition\:all__\.5s{
	transition: all .5s
}
.user-select\:none{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.background\:linear-gradient\(to__bottom\,__white\,__black\){
	background: linear-gradient(to bottom, white, black)
}
