# Root
/node_modules/
*.lerna_backup
*.tgz
/coverage
/scripts/build.js

#Packages
/packages/**/*.lerna_backup
/packages/**/node_modules
/packages/**/dist
/packages/**/esm
/packages/**/lib
/packages/**/tmp
/packages/**/types

# @stylify/stylify
/packages/stylify/**/complete-properties-list.txt
