# Root
/node_modules/
*.lerna_backup
/coverage

#Packages
/packages/**/*.lerna_backup
/packages/**/node_modules
/packages/**/coverage
/packages/**/dist
/packages/**/esm
/packages/**/lib
/packages/**/tmp
/packages/**/types
