# Testing environments
# Dependencies
/node_modules/
# Lerna
*.lerna_backup

#Packages
/packages/**/node_modules
/packages/**/dist
/packages/**/esm
/packages/**/lib
/packages/**/tmp
/packages/**/types

