.s0{
	font-family:arial
}
.s1{
	font-size:12px
}
.s2{
	text-align:center
}
.s3{
	font-size:48px
}
.s4{
	background:steelblue
}
.s5{
	max-width:320px
}
.s6{
	margin:0 auto
}
.s7{
	color:#fff
}
.s8{
	font-size:123px
}
.s9{
	line-height:123px
}
.s10{
	color:#888
}
.s11{
	font-size:456px
}
.s12{
	line-height:456px
}
.s13{
	color:yellow
}
.s14{
	font-size:14px
}
.s15{
	background:black
}
.s16{
	color:darkred
}