a:hover{
	color: red
}
.hover\:\{color\:blue\;font-size\:24px\}:hover{
	color: blue
}
.hover\:\{color\:blue\;font-size\:24px\}:hover{
	font-size: 24px
}
*{
	box-sizing: border-box
}
body,
article h1{
	font-size: 16px
}
::selection{
	color: #fff
}
h2:hover{
	color: green
}

@media (min-width: 400px), (orientation: landscape) {
.minw400px\|\|landscape\:hover\:\{color\:lightblue\;text-decoration\:underline\}:hover{
	color: lightblue
}
.minw400px\|\|landscape\:hover\:\{color\:lightblue\;text-decoration\:underline\}:hover{
	text-decoration: underline
}
}

@media (min-width: 768px) {
.md\:\{color\:blue\;font-size\:24px\}{
	color: blue
}
.md\:\{color\:blue\;font-size\:24px\}{
	font-size: 24px
}
}
