._t1f4c{
	d:'M 850'
}
._t1g2d{
	d:'M 851'
}
._rsml{
	margin:24px
}
._rtkm{
	margin:25px
}

@media (min-width: 768px) {
._3hirn{
	d:'M 850'
}
._3hjpo{
	d:'M 851'
}
._t7rr0p:hover{
	d:'M 850'
}
._t7rq2o:hover{
	d:'M 851'
}
._0bcg0{
	margin:24px
}
._0bbhv{
	margin:25px
}
._s2lcg:hover{
	margin:24px
}
._s2kef:hover{
	margin:25px
}
}