.i{
	d: 'M 850'
}
.j{
	d: 'M 851'
}
.k{
	margin: 24px
}
.l{
	margin: 25px
}

@media (min-width: 768px) {
.a{
	d: 'M 850'
}
.b{
	d: 'M 851'
}
.c:hover{
	d: 'M 850'
}
.d:hover{
	d: 'M 851'
}
.e{
	margin: 24px
}
.f{
	margin: 25px
}
.g:hover{
	margin: 24px
}
.h:hover{
	margin: 25px
}
}
