.color\:red{
	color:red
}

@media (min-width: 640px) {
.minw640px\:color\:blue{
	color:blue
}
}

@media (min-width: 1024px) and (max-width: 1280) {
.minw1024px\&\&maxw1280\:color\:green{
	color:green
}
}

@media (min-width: 1280px), (orientation: landscape) {
.minw1280px\|\|landscape\:color\:purple{
	color:purple
}
.minw1280px\|\|landscape\:hover\:color\:purple\:hover{
	color:purple
}
}