.hover\:background\:\#333:hover,
.profiler-extension:hover{
	background: #333
}
.border-top\:1px_solid_\#444{
	border-top: 1px solid #444
}
.background-color\:\#333,
.profiler-extension_button--active{
	background-color: #333
}
.bottom\:0{
	bottom: 0
}
.color\:\#fff{
	color: #fff
}
.content-visibility\:hidden{
	content-visibility: hidden
}
.content-visibility\:visible{
	content-visibility: visible
}
.display\:block{
	display: block
}
.display\:none{
	display: none
}
.font-family\:arial{
	font-family: arial
}
.font-size\:12px,
.profiler-extension_button{
	font-size: 12px
}
.line-height\:20px{
	line-height: 20px
}
.margin-left\:8px{
	margin-left: 8px
}
.margin\:0_8px{
	margin: 0 8px
}
.max-width\:800px{
	max-width: 800px
}
.overflow-x\:auto{
	overflow-x: auto
}
.padding-top\:8px{
	padding-top: 8px
}
.position\:fixed{
	position: fixed
}
.text-align\:left{
	text-align: left
}
.visibility\:hidden{
	visibility: hidden
}
.visibility\:visible{
	visibility: visible
}
.width\:auto{
	width: auto
}
.word-spacing\:24px{
	word-spacing: 24px
}
.box-sizing\:border-box,
.profiler-extension,
.profiler-extension_button,
.profiler-extension_dropdown,
.profiler-extension_link{
	box-sizing: border-box
}
.border-left\:1px_solid_\#555,
.profiler-extension{
	border-left: 1px solid #555
}
.align-items\:center,
.profiler-extension,
.profiler-extension_button{
	align-items: center
}
.display\:flex,
.profiler-extension,
.profiler-extension_button{
	display: flex
}
.min-height\:100\%,
.profiler-extension{
	min-height: 100%
}
.position\:relative,
.profiler-extension{
	position: relative
}
.height\:20px,
.profiler-extension_button{
	height: 20px
}
.padding\:0_8px,
.profiler-extension_button{
	padding: 0 8px
}
.justify-content\:center,
.profiler-extension_button{
	justify-content: center
}
.cursor\:pointer,
.profiler-extension_button,
.profiler-extension_link{
	cursor: pointer
}
.user-select\:none,
.profiler-extension_button{
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none
}
.position\:absolute,
.profiler-extension_dropdown{
	position: absolute
}
.bottom\:100\%,
.profiler-extension_dropdown{
	bottom: 100%
}
.left\:0,
.profiler-extension_dropdown{
	left: 0
}
.max-height\:50vh,
.profiler-extension_dropdown{
	max-height: 50vh
}
.overflow\:auto,
.profiler-extension_dropdown{
	overflow: auto
}
.min-width\:100\%,
.profiler-extension_dropdown{
	min-width: 100%
}
.background\:\#000,
.profiler-extension_dropdown{
	background: #000
}
.padding\:8px,
.profiler-extension_dropdown{
	padding: 8px
}
.text-decoration\:none,
.profiler-extension_link{
	text-decoration: none
}
.color\:\#00b2e5,
.profiler-extension_link{
	color: #00b2e5
}
.margin-right\:8px,
.profiler-extension_link,
.profiler-extension_button-icon{
	margin-right: 8px
}
.white-space\:nowrap,
.profiler-extension_link{
	white-space: nowrap
}
.display\:inline-block,
.profiler-extension_link,
.profiler-extension_button-icon{
	display: inline-block
}
.width\:12px,
.profiler-extension_button-icon{
	width: 12px
}
.height\:12px,
.profiler-extension_button-icon{
	height: 12px
}
.font-weight\:bold,
.profiler-extension_button-icon{
	font-weight: bold
}
.color\:\#aaa,
.profiler-extension_button-icon{
	color: #aaa
}
.line-height\:1,
.profiler-extension_button-label{
	line-height: 1
}
