._snhbehg{
	content:'second'
}
._vknnqtm{
	color:yellow
}
._vaucfh7{
	content:'Nette'
}
._plqk75e{
	font-size:24px
}
._kjj6q9i{
	font-size:25px
}
._pq6cmjh{
	content:'Symfony'
}
._cpkr460{
	content:'Vue'
}
._gibm8m7{
	content:'vue-script'
}
._uc2e88v{
	font-size:26px
}
._3tngtkf{
	content:'vuejs component'
}
._actjmvl{
	font-size:48px
}