.e{
	content: 'second'
}
.f{
	color: yellow
}
.g{
	content: 'Nette'
}
.h{
	font-size: 24px
}
.i{
	font-size: 25px
}
.j{
	content: 'Symfony'
}
.k{
	content: 'Vue'
}
.l{
	content: 'vue-script'
}
.m{
	font-size: 26px
}
.n{
	content: 'Excluded'
}
.o{
	color: purple
}
.p{
	content: 'vuejs component'
}
.q{
	font-size: 48px
}
