.c{
	font-size: 123px
}
.d{
	line-height: 123px
}
.e{
	color: #fff
}
.f{
	color: #888
}
.g{
	font-size: 456px
}
.h{
	line-height: 456px
}
.i{
	color: yellow
}
.j{
	font-family: arial
}
.k{
	font-size: 12px
}
.l{
	text-align: center
}
.m{
	font-size: 48px
}
.n{
	background: steelblue
}
.o{
	max-width: 320px
}
.p{
	margin: 0 auto
}
.q{
	font-size: 14px
}
.r{
	background: black
}
.s{
	color: darkred
}

@media (min-width: 123px) {
.a{
	font-size: 64px
}
}

@media (max-width: 1250px) {
.b{
	font-size: 84px
}
}
