.badge{
	align-items: center
}
.badge--primary{
	background: red
}
.badge--secondary{
	background: orange
}
.badge__number{
	border-radius: 50%
}
.badge--primary,
.badge--secondary{
	color: #fff
}
.badge,
.badge__number{
	display: inline-flex
}
