.button:hover,
.hover\:color\:blue:hover{
	color: blue
}
.button,
.padding\:8px{
	padding: 8px
}
.button,
.background-color\:\#000{
	background-color: #000
}
.button,
.display\:inline-block{
	display: inline-block
}
.button,
.button.button--big,
.title,
.font-size\:24px{
	font-size: 24px
}
.button.button--big,
.padding\:12px{
	padding: 12px
}
.container_wrapper,
.padding\:4px{
	padding: 4px
}
.container,
.max-width\:800px{
	max-width: 800px
}
.container,
.margin\:0_auto{
	margin: 0 auto
}
.title,
.color\:green{
	color: green
}

@media (min-width: 768px) {
.title,
.md\:font-size\:32px{
	font-size: 32px
}
}
