.hover\:color\:blue:hover,
.button:hover{
	color: blue
}
.padding\:8px,
.button{
	padding: 8px
}
.background-color\:\#000,
.button{
	background-color: #000
}
.display\:inline-block,
.button{
	display: inline-block
}
.font-size\:24px,
.button,
.button.button--big,
.title{
	font-size: 24px
}
.padding\:12px,
.button.button--big{
	padding: 12px
}
.padding\:4px,
.container_wrapper{
	padding: 4px
}
.max-width\:800px,
.container{
	max-width: 800px
}
.margin\:0_auto,
.container{
	margin: 0 auto
}
.color\:green,
.title{
	color: green
}

@media (min-width: 768px) {
.md\:font-size\:32px,
.title{
	font-size: 32px
}
}
