.button{
	background-color: #000
}
.button:hover{
	color: blue
}
.title{
	color: green
}
.button{
	display: inline-block
}
.button,
.button.button--big,
.title{
	font-size: 24px
}
.container{
	margin: 0 auto
}
.container{
	max-width: 800px
}
.button{
	padding: 8px
}
.button.button--big{
	padding: 12px
}
.container_wrapper{
	padding: 4px
}

@media (min-width: 768px) {
.title{
	font-size: 32px
}
}
