.a,
.e{
	padding: 8px
}
.a,
.f{
	background-color: #000
}
.a,
.g{
	display: inline-block
}
.a,
.c,
.h{
	font-size: 24px
}
.b,
.i{
	max-width: 800px
}
.b,
.j{
	margin: 0 auto
}
.c,
.k{
	color: green
}

@media (min-width: 768px) {
.c,
.d{
	font-size: 32px
}
}
