.a{
	padding: 8px
}
.a{
	background-color: #000
}
.a{
	display: inline-block
}
.a,
.c{
	font-size: 24px
}
.b{
	max-width: 800px
}
.b{
	margin: 0 auto
}
.c{
	color: green
}

@media (min-width: 768px) {
.c{
	font-size: 32px
}
}
