.button,
.wrapper{
	background: blue
}
.title{
	color: red
}
.header.button.title,
.header.button.wrapper{
	display: flex
}
.button,
.title{
	font-size: 24px
}
.header.button.title,
.header.button.wrapper{
	justify-content: space-between
}
.button{
	margin: 11px
}
.wrapper{
	outline: none
}
.button,
.title{
	padding: 24px
}
