:root {
--red: darkred;
}
.font-family\:arial{
	font-family: arial
}
.text-align\:center{
	text-align: center
}
.font-style\:italic{
	font-style: italic
}
.font-size\:48px{
	font-size: 48px
}
.color\:red{
	color: red
}
.margin-top\:240px{
	margin-top: 240px
}
.color\:steelblue{
	color: steelblue
}
.font-weight\:500{
	font-weight: 500
}
.font-weight\:800{
	font-weight: 800
}
.font-weight\:700{
	font-weight: 700
}
.color\:pink{
	color: pink
}
.color\:yellow{
	color: yellow
}
.color\:orange{
	color: orange
}
.color\:darkorange{
	color: darkorange
}
.color\:purple{
	color: purple
}
.font-weight\:bold{
	font-weight: bold
}
