.color\:svelte1{
	color: svelte1
}
.color\:blue{
	color: blue
}
.font-size\:1px{
	font-size: 1px
}
.color\:red{
	color: red
}
.font-size\:2px{
	font-size: 2px
}
.color\:svelte2{
	color: svelte2
}
.color\:svelte3{
	color: svelte3
}
