.d\:\^M_850\^{
	d: 'M 850'
}
.d\:\^M_851\^{
	d: 'M 851'
}
.m\:24px{
	margin: 24px
}
.m\:25px{
	margin: 25px
}

@media (min-width: 768px) {
.md\:d\:\^M_850\^{
	d: 'M 850'
}
.md\:d\:\^M_851\^{
	d: 'M 851'
}
.md\:hover\:d\:\^M_850\^:hover{
	d: 'M 850'
}
.md\:hover\:d\:\^M_851\^:hover{
	d: 'M 851'
}
.md\:m\:24px{
	margin: 24px
}
.md\:m\:25px{
	margin: 25px
}
.md\:hover\:m\:24px:hover{
	margin: 24px
}
.md\:hover\:m\:25px:hover{
	margin: 25px
}
}
