.display\:flex{
	display:flex
}
.flex-direction\:row{
	flex-direction:row
}
.justify-content\:space-between{
	justify-content:space-between
}
.align-items\:baseline{
	align-items:baseline
}
.margin\:0__auto{
	margin:0 auto
}
.margin-top\:40px{
	margin-top:40px
}
.height\:50px{
	height:50px
}
.width\:50px{
	width:50px
}
.background-color\:\#3a3636{
	background-color:#3a3636
}
.justify-content\:center{
	justify-content:center
}
.align-items\:center{
	align-items:center
}
.color\:white{
	color:white
}
.font-size\:19px{
	font-size:19px
}
.list-style-type\:none{
	list-style-type:none
}
.justify-content\:space-around{
	justify-content:space-around
}
.padding\:15px__25px{
	padding:15px 25px
}
.margin-left\:40px{
	margin-left:40px
}
.margin-top\:300px{
	margin-top:300px
}
.text-align\:left{
	text-align:left
}
.font-size\:35px{
	font-size:35px
}
.color\:\#3a3636{
	color:#3a3636
}
.line-height\:1\.5{
	line-height:1.5
}
.text-align\:justify{
	text-align:justify
}
.margin-top\:15px{
	margin-top:15px
}
.gap\:15px{
	gap:15px
}
.padding-top\:90px{
	padding-top:90px
}
.padding-bottom\:90px{
	padding-bottom:90px
}
.margin-top\:25px{
	margin-top:25px
}
.margin-bottom\:25px{
	margin-bottom:25px
}
.display\:grid{
	display:grid
}
.padding\:50px__0px{
	padding:50px 0px
}
.flex-direction\:column{
	flex-direction:column
}
.background-color\:white{
	background-color:white
}
.text-align\:center{
	text-align:center
}
.color\:\#777777{
	color:#777777
}
.font-size\:15px{
	font-size:15px
}
.margin-top\:5px{
	margin-top:5px
}
.font-weight\:bold{
	font-weight:bold
}
.margin-bottom\:15px{
	margin-bottom:15px
}

@media (min-width: 768px) {
.md\:width\:700px{
	width:700px
}
.md\:display\:block{
	display:block
}
.md\:grid-template-columns\:auto__auto__auto{
	grid-template-columns:auto auto auto
}
.md\:grid-template-rows\:auto__auto{
	grid-template-rows:auto auto
}
.md\:height\:223px{
	height:223px
}
.md\:grid-template-columns\:50\%__50\%{
	grid-template-columns:50% 50%
}
}

@media (min-width: 1024px) {
.lg\:width\:950px{
	width:950px
}
.lg\:width\:750px{
	width:750px
}
.lg\:height\:306px{
	height:306px
}
.lg\:grid-template-columns\:37\%__21\%__21\%__21\%{
	grid-template-columns:37% 21% 21% 21%
}
.lg\:grid-template-rows\:auto{
	grid-template-rows:auto
}
}

@media (min-width: 1280px) {
.xl\:width\:1200px{
	width:1200px
}
.xl\:height\:390px{
	height:390px
}
}

@media (max-width: 767px) {
.tomd\:width\:90\%{
	width:90%
}
.tomd\:display\:none{
	display:none
}
}