.align-items\:baseline{
	align-items: baseline
}
.align-items\:center{
	align-items: center
}
.background-color\:\#3a3636{
	background-color: #3a3636
}
.background-color\:white{
	background-color: white
}
.color\:white{
	color: white
}
.color\:\#3a3636{
	color: #3a3636
}
.color\:\#777777{
	color: #777777
}
.display\:flex{
	display: flex
}
.display\:grid{
	display: grid
}
.flex-direction\:row{
	flex-direction: row
}
.flex-direction\:column{
	flex-direction: column
}
.font-size\:19px{
	font-size: 19px
}
.font-size\:35px{
	font-size: 35px
}
.font-size\:15px{
	font-size: 15px
}
.font-weight\:bold{
	font-weight: bold
}
.gap\:15px{
	gap: 15px
}
.height\:50px{
	height: 50px
}
.justify-content\:space-between{
	justify-content: space-between
}
.justify-content\:center{
	justify-content: center
}
.justify-content\:space-around{
	justify-content: space-around
}
.line-height\:1\.5{
	line-height: 1.5
}
.list-style-type\:none{
	list-style-type: none
}
.margin\:0_auto{
	margin: 0 auto
}
.margin-bottom\:25px{
	margin-bottom: 25px
}
.margin-bottom\:15px{
	margin-bottom: 15px
}
.margin-left\:40px{
	margin-left: 40px
}
.margin-top\:40px{
	margin-top: 40px
}
.margin-top\:300px{
	margin-top: 300px
}
.margin-top\:15px{
	margin-top: 15px
}
.margin-top\:25px{
	margin-top: 25px
}
.margin-top\:5px{
	margin-top: 5px
}
.padding\:15px_25px{
	padding: 15px 25px
}
.padding\:50px_0px{
	padding: 50px 0px
}
.padding-bottom\:90px{
	padding-bottom: 90px
}
.padding-top\:90px{
	padding-top: 90px
}
.text-align\:left{
	text-align: left
}
.text-align\:justify{
	text-align: justify
}
.text-align\:center{
	text-align: center
}
.width\:50px{
	width: 50px
}

@media (min-width: 768px) {
.md\:display\:block{
	display: block
}
.md\:grid-template-columns\:auto_auto_auto{
	grid-template-columns: auto auto auto
}
.md\:grid-template-columns\:50\%_50\%{
	grid-template-columns: 50% 50%
}
.md\:grid-template-rows\:auto_auto{
	grid-template-rows: auto auto
}
.md\:height\:223px{
	height: 223px
}
.md\:width\:700px{
	width: 700px
}
}

@media (min-width: 1024px) {
.lg\:grid-template-columns\:37\%_21\%_21\%_21\%{
	grid-template-columns: 37% 21% 21% 21%
}
.lg\:grid-template-rows\:auto{
	grid-template-rows: auto
}
.lg\:height\:306px{
	height: 306px
}
.lg\:width\:950px{
	width: 950px
}
.lg\:width\:750px{
	width: 750px
}
}

@media (min-width: 1280px) {
.xl\:height\:390px{
	height: 390px
}
.xl\:width\:1200px{
	width: 1200px
}
}

@media (max-width: 767px) {
.tomd\:display\:none{
	display: none
}
.tomd\:width\:90\%{
	width: 90%
}
}
