.f,
.a{
	padding: 8px
}
.g,
.a{
	background-color: #000
}
.h,
.a{
	display: inline-block
}
.i,
.a,
.c{
	font-size: 24px
}
.j,
.b{
	max-width: 800px
}
.k,
.b{
	margin: 0 auto
}
.l,
.c{
	color: green
}

@media (min-width: 768px) {
.e,
.c{
	font-size: 32px
}
}
