._tfd4v84hkk,
._4etcappqdbo{
	padding:8px
}
._shp0ceaccug,
._4etcappqdbo{
	background-color:#000
}
._cdbb5mftv58,
._4etcappqdbo{
	display:inline-block
}
._sdof9i580t,
._4etcappqdbo,
._0338oggc0hg{
	font-size:24px
}
._0ti2i3k4bpg,
._dd39h43lg08{
	max-width:800px
}
._dkjra4j66mo,
._dd39h43lg08{
	margin:0 auto
}
._i9eu7s1simg,
._0338oggc0hg{
	color:green
}

@media (min-width: 768px) {
._09t5nug0sk,
._0338oggc0hg{
	font-size:32px
}
}