a:hover,
.hover\:color\:red:hover{
	color: red
}
*,
.box-sizing\:border-box{
	box-sizing: border-box
}
body,
article h1,
.font-size\:16px{
	font-size: 16px
}
::selection,
.color\:\#fff{
	color: #fff
}
h2:hover,
.color\:green{
	color: green
}
