:root {
--blue: darkblue;
--border: border 1px solid var(--blue);
--bg: white;
--color: black;
--fontSize: 12px;
}
@media (min-width: 450px) {
:root {
--fontSize: 18px;
}
}
@media (min-width: 1024px) {
:root {
--fontSize: 24px;
}
}
@media (prefers-color-scheme: dark) {
:root {
--bg: black;
--color: white;
}
}
html[theme="dark"] {
--bg: black;
--color: white;
}
.dark-theme {
--bg: black;
--color: white;
}
:root.dark {
--bg: black;
--color: white;
}
.text\:bold{
	font-weight: bold
}
.text\:italic{
	font-style: italic
}
.fs\:\$fontSize{
	font-size: var(--fontSize)
}
.bgc\:\$bg{
	background-color: var(--bg)
}
.clr\:\$color{
	color: var(--color)
}
.fix\:2px{
	position: fixed;
	top: 2px;
	left: 2px
}

@media (min-width: 640px) {
.md\:zi\:10{
	z-index: 10
}
}
