:root {
	--lightblack: #050505;
	--black: #0a0a0a;
	--border2: border 1px solid var(--black);
	--lighten-black-10: #141414;
	--lighten-black-20: #1e1e1e;
	--myContent-Super---Content: "Super Content";
}
.border\:2px_solid_lighten\(\$black\,20\){
	border: 2px solid var(--lighten-black-20)
}
.color\:lighten\(\$black\,10\){
	color: var(--lighten-black-10)
}
.content\:myContent\(\^Super\^\,\^Content\^\){
	content: var(--myContent-Super---Content)
}
